/* screen - home-page */
.home-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* width: 1920px; */
  width: 100%;
}

#clockdiv {
  background-color: var(--gallery);
  color: #231f20;
  opacity: 0.9;
  display: inline-block;
  position: absolute;
  min-height: 200px;
  top: 592px;
  width: 70%;
  left: -320px;
  font-family: var(--font-family-muli);
}

#clockdiv > div {
  display: inline-block;
  padding: 10px 5px 5px 10px;
  border-radius: 3px;
  font-size: 120px;
  margin-left: 15px;
}

#clockdiv div > span {
  padding: 10px 0px 15px 0px;
  margin-left: 40px;
  flex-wrap: nowrap;
  font-size: 115px;
}

.smalltext {
  color: #231f20;
  font-size: 24px;
  text-align: center;
  margin-left: 40px;
}

.overlap-group27 {
  height: 2725px;
  margin-left: -335.21px;
  margin-top: -281px;
  position: relative;
  width: 2522px;
  /* width: 100%; */
}

.rectangle-129 {
  background-color: var(--cinnabar);
  height: 203px;
  left: 317px;
  position: absolute;
  top: 1416px;
  width: 100%;
}

.group-6 {
  display: flex;
  height: 2080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.group-5 {
  display: flex;
  flex: 1;
  width: 100%;
}

.group-4 {
  height: 1420px;
  width: 100%;
  object-fit: cover;
}

.sign-up-black-button {
  align-items: flex-start;
  background-color: #231f20;
  display: flex;
  height: 66px;
  left: 1973px;
  min-width: 190px;
  padding: 11.2px 34.6px;
  position: absolute;
  top: 1486px;
}

.sign-up-black-button:hover {
  background-color: var(--gallery);
  /* color: var(--cinnabar); */
}

.sign-up {
  color: var(--white);
  font-family: var(--font-family-muli-semibold);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38.4px;
  min-height: 42px;
  white-space: nowrap;
}

.sign-up:hover {
  color: var(--cinnabar);
}

.group-207 {
  height: 113px;
  left: 417px;
  object-fit: cover;
  position: absolute;
  top: 1462px;
  width: 124px;
}

.group-212 {
  height: 145px;
  left: 1200px;
  object-fit: cover;
  position: absolute;
  top: 281px;
  width: 190px;
}

.group-445 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 651px;
  min-height: 559px;
  position: absolute;
  top: 500px;
  width: 1222px;
}

.group-217 {
  height: 231px;
  margin-right: 5.05px;
  object-fit: cover;
  width: 1124px;
}

.overlap-group1 {
  height: 294px;
  margin-top: 50px;
  position: relative;
  width: 1222px;
}

.x97th-floor-is-callin {
  color: var(--black);
  font-family: var(--font-family-muli-bold);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  text-align: right;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  width: 1222px;
  position: absolute;
}

.span0-0 {
  font-family: var(--font-family-muli-light);
  font-size: 30px;
  margin: 0px 0px 0px 40px;
}

.elevate-your-future {
  color: var(--black);
  font-weight: 300;
  left: 67px;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 100px;
  width: 1155px;
}

.sign-up-now-button {
  align-items: flex-start;
  display: flex;
  height: 82px;
  left: 912px;
  min-width: 310px;
  position: absolute;
  top: 230px;
}

.sign-up-now-button:hover {
  background-color: #231f20;
}

.overlap-group-2 {
  height: 82px;
  position: relative;
  width: 310px;
}

.rectangle-141 {
  background-color: var(--cinnabar);
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 308px;
}

.rectangle-141:hover {
  background-color: #231f20;
}

.sign-up-now {
  color: var(--white);
  font-family: var(--font-family-muli-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 310px;
}

.rectangle-142 {
  background-color: var(--gallery);
  height: 700px;
  left: 335px;
  position: absolute;
  top: 2004px;
  width: 100%;
}

.group-221 {
  height: 928px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 1797px;
  width: 778px;
}

.why-attend {
  color: var(--cinnabar);
  font-weight: 900;
  left: 1316px;
  line-height: 65px;
  position: absolute;
  top: 1853px;
  width: 941px;
}

.we-are-on-a-mission {
  color: var(--black);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 358px;
  left: 1316px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 2104px;
  width: 849px;
}

.span0-1 {
  font-weight: 300;
}

.attend-list-items {
  margin-top: 50px;
  margin-bottom: 50px;
}

.span1-1 {
  font-family: var(--font-family-muli-bold);
}

.rectangle-146 {
  background-color: var(--cinnabar);
  height: 7px;
  left: 1316px;
  position: absolute;
  top: 1809px;
  width: 100px;
}

.navigation-buttons {
  color: var(--white);
  font-family: var(--font-family-muli-light);
  font-size: 31px;
  height: 36px;
  width: 185px;
  left: 651px;
  top: 1501px;
  position: absolute;
}

.navigation-buttons:hover {
  color: #231f20;
}

.navigation-buttons-4 {
  color: var(--white);
  font-family: var(--font-family-muli-light);
  font-size: 31px;
  height: 36px;
  width: 185px;
  left: 962px;
  top: 1501px;
  position: absolute;
}

.navigation-buttons-4:hover {
  color: #231f20;
}

.navigation-buttons-3 {
  color: var(--white);
  font-family: var(--font-family-muli-light);
  font-size: 31px;
  height: 36px;
  width: 185px;
  left: 1227px;
  top: 1501px;
  position: absolute;
}

.navigation-buttons-3:hover {
  color: #231f20;
}

.navigation-buttons-2 {
  color: var(--white);
  font-family: var(--font-family-muli-light);
  font-size: 31px;
  height: 36px;
  width: 185px;
  left: 1492px;
  top: 1501px;
  position: absolute;
}

.navigation-buttons-2:hover {
  color: #231f20;
}

.navigation-buttons-1 {
  color: var(--white);
  font-family: var(--font-family-muli-light);
  font-size: 31px;
  height: 36px;
  width: 185px;
  left: 1741px;
  top: 1501px;
  position: absolute;
}
.navigation-buttons-1:hover {
  color: #231f20;
}

.group-448 {
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  margin-left: 230.44px;
  margin-top: 223px;
  width: 941px;
}

.rectangle-1 {
  background-color: var(--cinnabar);
  height: 7.39px;
  width: 99.5px;
}

.speakers {
  color: var(--cinnabar);
  flex: 1;
  font-weight: 900;
  height: 83px;
  line-height: 65px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 83px;
}

.group-container {
  align-self: center;
  height: 397px;
  margin-right: 1.01px;
  margin-top: 154px;
  position: relative;
  width: 1663px;
}

.overlap-group2 {
  height: 378px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 1663px;
}

.rectangle-147 {
  background-color: var(--cinnabar);
  height: 357px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-223 {
  background-image: url(../img/group-222@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.rectangle-150 {
  background-color: var(--black-2);
  height: 357px;
  left: 602px;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-225 {
  background-image: url(../img/group-224@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.rectangle-153 {
  background-color: var(--cinnabar);
  height: 357px;
  left: 1203px;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-227 {
  background-image: url(../img/group-226@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.group-425 {
  height: 330px;
  left: 1296px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.group-430 {
  height: 330px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 329px;
}

.group-434 {
  height: 330px;
  left: 699px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.overlap-group-container {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 1.38px;
  margin-top: 21px;
  min-width: 1665px;
}

.overlap-group42 {
  height: 172px;
  position: relative;
  width: 467px;
}

.overlap-group33 {
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.group {
  display: flex;
  flex-direction: column;
  height: 101px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.name {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  height: 62px;
  line-height: 48px;
  margin-right: -2px;
  max-height: 62px;
}

.vp-of-marketing-tab-bank {
  color: var(--mountain-mist);
  flex: 1;
  font-weight: 300;
  font-size: 29px;
  height: 40px;
  line-height: 30px;
  margin-bottom: -2px;
  max-height: 40px;
}

.path-84 {
  height: 75px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 396px;
}

.icon-linkedin-1 {
  height: 44px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 44px;
}

.overlap-group46 {
  height: 183px;
  margin-left: 132px;
  position: relative;
  width: 467px;
}

.overlap-group31 {
  height: 169px;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.name-1 {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  /* height: 62px; */
  line-height: 48px;
  margin: 8px -2px 0px 0px;
  max-height: 62px;
}

.creative-director-neighborcom {
  color: var(--mountain-mist);
  flex: 1;
  font-family: var(--font-family-muli-light);
  font-weight: 300;
  font-size: 28px;
  letter-spacing: -0.5px;
  height: 30px;
  line-height: 30px;
  margin: 15px -2px 0px -5px;
  max-height: 40px;
}

.path-85 {
  height: 75px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 404px;
}

.icon-linkedin-2 {
  height: 44px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 44px;
}

.overlap-group44 {
  height: 171px;
  margin-left: 132px;
  position: relative;
  width: 467px;
}

.overlap-group30 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.group-238 {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.name-2 {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  height: 62px;
  line-height: 48px;
  margin-right: -2px;
  max-height: 62px;
}

.ceo-97th-floor {
  color: var(--mountain-mist);
  flex: 1;
  font-weight: 300;
  font-size: 29px;
  height: 40px;
  line-height: 30px;
  margin-bottom: -2px;
  max-height: 40px;
}

.path-86 {
  height: 75px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 403px;
}

.icon-linkedin-3 {
  height: 44px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 44px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin-left: -25.89px; */
  margin-top: 175px;
  min-height: 7656px;
  width: 100%;
  /* min-width: 1940px; */
}

.group-container-1 {
  height: 398px;
  margin-right: 0.25px;
  position: relative;
  width: 1663px;
}

.overlap-group3 {
  height: 378px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 1663px;
}

.rectangle-157 {
  background-color: var(--black-2);
  height: 357px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-230 {
  background-image: url(../img/group-229@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.rectangle-160 {
  background-color: var(--cinnabar);
  height: 357px;
  left: 602px;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-232 {
  background-image: url(../img/group-231@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.rectangle-163 {
  background-color: var(--black-2);
  height: 357px;
  left: 1203px;
  position: absolute;
  top: 21px;
  width: 460px;
}

.group-234 {
  background-image: url(../img/group-233@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 378px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1663px;
}

.group-367 {
  height: 330px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.group-372 {
  height: 330px;
  left: 1295px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.group-377 {
  height: 330px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.37px;
  margin-top: 32px;
  min-width: 1665px;
}

.overlap-group41 {
  height: 168px;
  position: relative;
  width: 467px;
}

.overlap-group {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 467px;
}

.place {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  height: 62px;
  line-height: 48px;
  margin-right: -2px;
  max-height: 62px;
}

.position-company {
  color: var(--mountain-mist);
  flex: 1;
  font-family: var(--font-family-muli-light);
  font-weight: 300;
  font-size: 28px;
  height: 40px;
  line-height: 25px;
  margin-bottom: -2px;
  max-height: 40px;
}

.path-87 {
  height: 75px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 92px;
  width: 396px;
}

.icon-linkedin {
  height: 44px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 136px;
  width: 44px;
}

.overlap-group4 {
  height: 168px;
  margin-left: 132px;
  position: relative;
  width: 467px;
}

.place-1 {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  height: 62px;
  line-height: 48px;
  margin-right: -2px;
  max-height: 62px;
}

.position-company-1 {
  color: var(--mountain-mist);
  flex: 1;
  font-weight: 300;
  height: 40px;
  line-height: 30px;
  margin-bottom: -2px;
  max-height: 40px;
}

.path-88 {
  height: 75px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 404px;
}

.place-2 {
  color: var(--black);
  flex: 1;
  font-weight: 900;
  height: 62px;
  line-height: 48px;
  margin-right: -2px;
  max-height: 62px;
}

.position-company-2 {
  color: var(--mountain-mist);
  flex: 1;
  font-weight: 300;
  height: 40px;
  line-height: 30px;
  margin-bottom: -2px;
  max-height: 40px;
}

.path-89 {
  height: 75px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 405px;
}

.group-280 {
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  margin-left: 512.52px;
  margin-top: 300px;
  width: 941px;
}

.agenda {
  color: var(--cinnabar);
  flex: 1;
  font-weight: 900;
  height: 83px;
  line-height: 65px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 83px;
}

.overlap-group25 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 2000px;
  justify-content: flex-end;
  margin-top: 200px;
  min-width: 100%;
  width: 100%;
  padding: 95px 95px;
}

.overlap-group34 {
  position: absolute;
  margin-right: 1260px;
  margin-top: 120px;
}

.line-1 {
  height: 1360px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 155px;
  width: 4px;
}

.overlap-group14 {
  height: 10px;
  left: 134px;
  position: absolute;
  top: 115px;
  width: 62px;
}

.line-2 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 55px;
}

.ellipse-4 {
  background-color: var(--black);
  border-radius: 5px;
  height: 10px;
  left: 52px;
  position: absolute;
  top: 0;
  width: 10px;
}

.overlap-group15 {
  height: 10px;
  left: 134px;
  position: absolute;
  top: 293px;
  width: 62px;
}

.overlap-group16 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 470px;
  width: 62px;
}

.overlap-group17 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 647px;
  width: 62px;
}

.overlap-group18 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 825px;
  width: 62px;
}

.overlap-group19 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 1000px;
  width: 62px;
}

.overlap-group20 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 1177px;
  width: 62px;
}

.overlap-group21 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 1355px;
  width: 62px;
}

.overlap-group22 {
  height: 10px;
  left: 135px;
  position: absolute;
  top: 1533px;
  width: 62px;
}

.group-388 {
  align-items: flex-end;
  background-color: var(--cinnabar);
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 60px;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid black;
  border-radius: 57px;
  display: flex;
  height: 100px;
  min-width: 100px;
}

.ellipse-2 {
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 57px;
  height: 98px;
  width: 98px;
}

.group-391 {
  align-items: flex-end;
  background-color: #ba2e27;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 415px;
}

.group-393 {
  align-items: flex-end;
  background-color: #992620;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 775px;
}

.group-395 {
  align-items: flex-end;
  background-color: #5e1c1b;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 1125px;
}

.group-389 {
  align-items: flex-end;
  background-color: var(--cinnabar);
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 235px;
}

.group-390 {
  align-items: flex-end;
  background-color: #ba2e27;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 595px;
}

.group-392 {
  align-items: flex-end;
  background-color: #992620;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 947px;
}

.group-394 {
  align-items: flex-end;
  background-color: #5e1c1b;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 1300px;
}

.group-396 {
  align-items: flex-end;
  background-color: #5e1c1b;
  border-radius: 58px;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  left: 15px;
  min-width: 115px;
  padding: 10px;
  position: absolute;
  top: 1480px;
}

.number {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 98px;
  white-space: nowrap;
  width: 41px;
}

.number-1 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
  width: 41px;
}

.number-2 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 985px;
  white-space: nowrap;
  width: 41px;
}

.number-3 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 453px;
  white-space: nowrap;
  width: 46px;
}

.number-4 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 1162px;
  white-space: nowrap;
  width: 46px;
}

.number-5 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 632px;
  white-space: nowrap;
  width: 41px;
}

.number-6 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 1338px;
  white-space: nowrap;
  width: 41px;
}

.number-7 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 813px;
  white-space: nowrap;
  width: 41px;
}

.number-8 {
  left: 50px;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 1518px;
  white-space: nowrap;
  width: 41px;
}

.m-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.x830-am-breakfast {
  color: var(--cinnabar);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 62px;
  margin-top: 100px;
  margin-left: 30px;
  width: 832px;
}

.span0 {
  font-family: var(--font-family-muli-light);
  font-weight: 300;
}

.span1 {
  font-family: var(--font-family-muli-semibold);
}

.x930-am-speakers-1-2 {
  color: var(--cinnabar);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 115px;
  min-height: 62px;
  width: 832px;
}

.x1015-am-break {
  color: var(--tall-poppy);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 115px;
  min-height: 62px;
  width: 832px;
}

.x1030-am-speakers-3-4 {
  color: var(--tall-poppy);
  font-family: var(--font-family-muli-semibold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 115px;
  min-height: 62px;
  width: 832px;
}

.x0-am {
  color: #992620;
  font-family: var(--font-family-muli-semibold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 115px;
  min-height: 62px;
  width: 832px;
}

.x1200-pm-panelqa-with-all-speakers {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: 115px;
  margin-left: 15px;
  min-height: 62px;
  width: 1047px;
}

.x30-pm {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 115px;
  min-height: 62px;
  width: 832px;
}

.rectangle-193 {
  align-self: flex-start;
  background-color: var(--cinnabar);
  height: 7px;
  margin-left: 347.89px;
  margin-top: 184px;
  width: 100px;
}

.venue {
  color: var(--cinnabar);
  font-weight: 900;
  line-height: 65px;
  margin-right: 335px;
  margin-top: 37px;
  min-height: 83px;
  width: 941px;
}

.address {
  color: var(--black);
  font-weight: 300;
  line-height: 34px;
  margin-left: 109px;
  margin-top: 70px;
  min-height: 100px;
  width: 1385px;
}

.venue-map {
  height: 708px;
  width: 980px;
  margin-right: 296px;
  margin-top: 50px;
  object-fit: cover;
}

.venue-map:hover {
  opacity: 0.5;
  filter: brightness(75%);
  transition: 0.3s ease;
}

.group-281 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  margin-right: 171.89px;
  margin-top: 232px;
  width: 941px;
}

.fa-qs {
  color: var(--cinnabar);
  flex: 1;
  font-weight: 900;
  height: 83px;
  line-height: 65px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 83px;
}

.flex-row {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 2034px;
  justify-content: flex-end;
  margin-left: 8.74px;
  margin-top: 73px;
  min-width: 1929px;
  padding: 116.4px 335.7px;
}

.flex-col-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 17.3px;
  min-height: 1732px;
  width: 123px;
}

.x97icons_announce-black {
  height: 121px;
  margin-left: 2px;
  object-fit: cover;
  width: 121px;
}

.group-285 {
  height: 116px;
  margin-left: 2px;
  margin-top: 120px;
  object-fit: cover;
  width: 116px;
}

.x97icons_award-black {
  height: 118px;
  margin-top: 151px;
  object-fit: cover;
  width: 118px;
}

.x97icons_question-black {
  height: 121px;
  margin-left: 2px;
  margin-top: 114px;
  object-fit: cover;
  width: 120px;
}

.x97icons_calendar-black {
  height: 116px;
  margin-left: 2px;
  margin-top: 90px;
  object-fit: cover;
  width: 116px;
}

.group-418 {
  height: 116px;
  margin-left: 2px;
  margin-top: 101px;
  object-fit: cover;
  width: 116px;
}

.x97icons_location-black {
  height: 116px;
  margin-left: 2px;
  margin-top: 115px;
  object-fit: cover;
  width: 116px;
}

.x97icons_connect-black {
  height: 116px;
  margin-left: 2px;
  margin-top: 101px;
  object-fit: cover;
  width: 116px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  min-height: 1772px;
  width: 754px;
}

.th-floor-container {
  height: 158px;
  position: relative;
  width: 754px;
}

.x97th-floor-is-an-awa {
  color: var(--redwood);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.span0-2 {
  color: var(--black);
  font-weight: 300;
}

.span1-2 {
  font-family: var(--font-family-muli-semibold);
  text-decoration: underline;
}

.who-is-97th-floor {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.cant-make-it-but-ar {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 35px;
  min-height: 78px;
  width: 754px;
}

.apply-for-an-interns {
  color: var(--black);
  font-family: var(--font-family-muli);
  font-size: var(--font-size-m);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 9px;
  min-height: 170px;
  width: 754px;
}

.span1-3 {
  color: var(--redwood);
  font-family: var(--font-family-muli-bold);
  font-weight: 700;
  text-decoration: underline;
}

.workshops-container {
  height: 214px;
  margin-top: 35px;
  position: relative;
  width: 754px;
}

.our-workshops-will-b {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.what-will-be-covered-in-the-workshops {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.dress-container {
  height: 130px;
  margin-top: 65px;
  position: relative;
  width: 754px;
}

.dress-is-casual-wha {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.what-is-the-events-dress-code {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.flex-col-item {
  height: 130px;
  margin-top: 84px;
  position: relative;
  width: 754px;
}

.by-claiming-a-seat-y {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.whats-included-with {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.there-are-only-75-ti {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.how-many-attendees-will-be-there {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.park-container {
  height: 186px;
  margin-top: 65px;
  position: relative;
  width: 754px;
}

.on-site-parking-will {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.where-can-i-park {
  height: 76px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.overlap-group38 {
  height: 130px;
  margin-top: 66px;
  position: relative;
  width: 754px;
}

.unfortunately-no-du {
  color: var(--black);
  font-weight: 300;
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 44px;
  width: 754px;
}

.if-i-sign-up-can-i-bring-extra-people {
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 754px;
}

.group-437 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  height: 750px;
  justify-content: flex-end;
  min-width: 1972px;
  padding: 98px 25.9px;
  margin-top: auto;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 341px;
  width: 1186px;
  margin-top: 100px;
}

.title {
  color: var(--white);
  font-family: var(--font-family-muli-bold);
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 85px;
  min-height: 108px;
  text-align: center;
  width: 682px;
}

.have-questions-or-co {
  color: var(--white);
  font-family: var(--font-family-muli-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 39px;
  margin-top: 19px;
  min-height: 51px;
  text-align: center;
  width: 1186px;
}

.kendra97thfloorcom {
  color: var(--white);
  font-family: var(--font-family-muli-bold);
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 33px;
  margin-top: 4px;
  min-height: 43px;
  text-align: center;
  width: 1186px;
}

.group-447 {
  display: flex;
  height: 60px;
  width: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 68px;
}

.group-144 {
  align-self: center;
  height: 145px;
  margin-left: 176px;
  margin-top: 0.15px;
  object-fit: cover;
  width: 190px;
}

.social-icons {
  display: flex;
}

/* @media screen and (max-width: 1440px) {
  body {
    display: flex;
  }
} */
